<link rel="stylesheet" href="/partials/secondary-hero/secondary-hero.css">

<section class="hero-secondary fade-after" style="background: url('<%= background %>') no-repeat center center;">
    <div class="hero-secondary-bg"></div>
    <div class="hero-secondary-content">
        <h2><%= title %></h2>
        <p><%= description %></p>
    </div>
</section>